.tarifas-container {
    margin: 10px;
    text-align: center;
}

.tarifas-title {
    margin-bottom: 10px;
    text-align: center;

}

.button {
    margin: 10px 15px 20px 5px;
    padding: 4px 10px;
    font-size: 14px; /* Reducir el tamaño de la fuente del botón */
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff5aa4;
    color: white;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff96c5;
}

.tarifas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.85em; /* Reducir tamaño de fuente en la tabla para adaptarse mejor */
}

.tarifas-table th, .tarifas-table td {
    padding: 2px 4px; /* Reducir padding para evitar salto de línea */
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap; /* Evita saltos de línea en el contenido */
}

.tarifas-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tarifas-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tarifas-table tbody tr:hover {
    background-color: #e0f7fa;
    cursor: pointer;
    transition: background-color 0.3s;
}
