/* Contenedor principal */
.nominas-container {
    margin: 20px;
    text-align: center;
}

/* Título principal */
.nominas-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* Contenedor de cada mes */
.mes-container {
    display: flex;
    justify-content: space-between; /* Espacio entre el mes y el icono */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 0;
    font-size: 15px;
    color: #444;
    border-bottom: 1px solid #ddd; /* Línea separadora */
    cursor: pointer; /* Indica que la fila es interactiva */
    transition: background-color 0.2s;
}

/* Título del mes alineado a la izquierda */
.mes-container h2 {
    margin: 0;
    text-align: left;
    font-weight: bold;
    flex-grow: 1; /* Ocupa el espacio restante para empujar el icono */
}

/* Icono alineado a la derecha */
.icono-check {
    font-size: 35px;
    color: #D02B57;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icono-check:hover {
    transform: scale(1.1); /* Pequeño efecto al pasar el ratón */
}

/* Estilo para el mes activo */
.mes-container.activo h2 {
    color: black; /* Cambia el color del texto del mes activo */
}

/* Icono del mes activo */
.mes-container.activo .icono-check {
    font-size: 25px;
    color: #007BFF;
}

/* Contenido desplegable para las nóminas */
.nominas-detalle {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    color: #666;
    padding-left: 15px;
}

/* Tabla de Nóminas */
.tabla-nominas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

.tabla-titulo {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    background-color: #f9f9f9; /* Color de fondo para destacarlo */
    border-bottom: 2px solid #ddd; /* Línea separadora con las celdas */
}

.tabla-nominas th, .tabla-nominas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-nominas th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tabla-nominas tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-nominas tbody tr:hover {
    background-color: #f1f1f1;
}

.tabla-footer {
    text-align: right; /* Alinea todo el contenido a la derecha */
    padding-right: 15px; /* Espacio adicional a la derecha */
}

.texto-a-cobrar {
    display: inline-block; /* Permite ajustes finos de alineación */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: right; /* Alinea el texto dentro del contenedor */
    font-weight: bold; /* Resalta el texto */
}

.tabla-total {
    font-weight: bold;
}