/* Partidos.css */
.partidos-container {
    margin: 20px;
    text-align: center;
}

.partidos-title {
    margin-bottom: 10px;
    text-align: center;
}

.partidos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.partidos-table th, .partidos-table td {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

.partidos-table th {
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
}

.partidos-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.partidos-table tbody tr:hover {
    background-color: #e0f7fa; /* Cambia el color de fondo */
    cursor: pointer; /* Cambia el cursor para indicar interactividad */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}


/* Alinea solo las celdas del cuerpo de la columna "Árbitro(s)" a la derecha */
.arbitros-cell div{
    text-align: right;
}


/* Modal para crear infomre */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.dropdown-arbitros {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

.tabla-datos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-datos th,
.tabla-datos td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.tabla-datos th {
    background-color: #f4f4f4;
    font-weight: bold;
}


/* Modal para crear informe */
.modal-content {
    position: relative; /* Asegura que los elementos hijos posicionados se ubiquen dentro de este contenedor */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ancho del modal */
    max-width: 1000px; /* Ancho máximo del modal */
    text-align: left;
    max-height: 90%; /* Limitar la altura para evitar overflow */
    overflow-y: auto; /* Scroll en caso de contenido largo */
    margin: 0 auto; /* Centrar horizontalmente */
    scrollbar-width: none;
    -ms-overflow-style: none;
    word-wrap: break-word;
}

/* Contenedor de la tabla dentro del modal */
.table-container {
    width: 100%; /* Asegura que ocupa todo el ancho */
    overflow-x: auto; /* Habilita scroll horizontal si es estrictamente necesario */
    margin-top: 20px;
}

/* Tabla dentro del modal */
.tabla-datos {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse;
    margin: 0; /* Sin margen alrededor de la tabla */
}

.tabla-datos th,
.tabla-datos td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    word-wrap: break-word; /* Ajusta el texto automáticamente si es muy largo */
}

.tabla-datos th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Contenedor para los campos debajo de la tabla */
.form-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre los campos */
}

/* Estilo para los inputs grandes */
.input-large {
    width: 98%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    resize: none; /* Evita que se redimensionen los inputs */
}

/* Botón de guardar */
.save-button {
    margin: auto;
    width: 15%; /* Ajusta el tamaño del botón */
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.save-button:hover {
    background-color: #45a049;
}