/* Partidos.css */
.partidos-container {
    margin: 20px;
    text-align: center;
}

.partidos-title {
    margin-bottom: 10px;
    text-align: center;
}

.button {
    margin: 15px 25px 30px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff5aa4;
    color: white;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff96c5;
}

.button svg {
    margin-right: 8px;
}

.partidos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.partidos-table th, .partidos-table td {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

.partidos-table th {
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
}

.partidos-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.partidos-table tbody tr:hover {
    background-color: #e0f7fa; /* Cambia el color de fondo */
    cursor: pointer; /* Cambia el cursor para indicar interactividad */
    transition: background-color 0.3s; /* Suaviza la transición de color */
}


/* Alinea solo las celdas del cuerpo de la columna "Árbitro(s)" a la derecha */
.arbitros-cell div{
    text-align: right;
}
